.socials
	display: flex
	align-items: center
	column-gap: 10px
	@media (max-width: 767px)
		padding-left: 33px
		margin-top: 9px
.social
	@media (max-width: 767px)
		&:nth-child(2)
			transform: translateY(-1px)
